PROJECT_NAME=wagglewaggle-api

API_DOC_VERSION=1.0.0

USE_CONSOLE_LOGGER=true

API_HOST=localhost
API_PORT=3000

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=wagglewaggle
MYSQL_USERNAME=root
MYSQL_PASSWORD=1234
